---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.no-cover.main-header {
  max-height: 250px;
}

.post-head a {
  border-color: #ccc;
}

.copyright {
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #666;

  a {
    color: #009cdb;
  }
}

@media only screen and (max-width: 500px) {
  .post-head a {
    border-color: transparent;
  }
}